h1
{
  color: rgb(170, 255, 0);
  text-align: center;
}
i{
    color: rgb(60, 4, 79);
    border: 5px solid rgb(3, 1, 41);
    background-color: rgb(166, 240, 255);
    padding: 14px 20px;
    border-radius: 15px;
    margin: 60px;
    
    
}
p{
    margin-top: 30px;
}
.putu{
    text-align: justify;
}