h1
{
  color: brown;
  background-color: antiquewhite;
  text-align: center;
}
i{
    color: rgb(255, 1, 85);
    border: 2px solid rgb(3, 1, 41);
    background-color: rgb(166, 240, 255);
    padding: 14px 20px;
    border-radius: 15px;
    
    
    
}
p{
    margin-top: 30px;
}
.putu{
    text-align: justify;
}